### Работа с данными в Pandas

#### Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм books cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],

['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники']

In [1]:
import pandas as pd

In [2]:
authors = pd.DataFrame({'author_id': [1, 2, 3],
                        'author_name': ['Тургенев', 'Чехов', 'Островский']}, columns=['author_id', 'author_name'])
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [3]:
books = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                     'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо','Толстый и тонкий',
                                    'Дама с собачкой', 'Гроза', 'Таланты и поклонники']}, 
                     columns=['author_id', 'book_title', 'price'])
books

   author_id            book_title price
0          1           Отцы и дети   NaN
1          1                 Рудин   NaN
2          1     Дворянское гнездо   NaN
3          2      Толстый и тонкий   NaN
4          2       Дама с собачкой   NaN
5          3                 Гроза   NaN
6          3  Таланты и поклонники   NaN